html{
font-size: 14px;
}
h1, h2, h4 {
	color: #b34848;
}
header {
background-color: #b34848;
}
nav{
background-color: #b34848;
}
.comments li {
 list-style-type: none;
}
.hidden{
display:none;
}
.btn{
column-fill: green;
}